.contact {
    padding: 100px 50px 50px;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/images/contact.jpg");
    background-size: cover;
}

.contactContent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #000000a2;
}

.contactTitles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.contactTitlesTitle {
    font-size: 30px;
    font-family: var(--primaryFont);
    color: var(--gold);
}

.contactTitlesSubtitle {
    font-size: 16px;
    font-family: var(--secondaryFont);
    color: var(--white);
}

.contactData {
    display: flex;
    gap: 50px;
}

.contactDataInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactDataInfoSection {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactDataInfoSectionTitle {
    font-family: var(--primaryFont);
    color: var(--gold);
}

.contactDataInfoSectionLinks {
    font-family: var(--secondaryFont);
    font-weight: 800;
    color: var(--white);
}

.contactDataInfoSectionLinks span {
    font-weight: 400;
    color: var(--white);
}

.contactDataInfoSectionSocial {
    display: flex;
    gap: 10px;
}

.contactDataInfoSectionSocial a {
    color: var(--white);
    font-size: 30px;
}

.contactDataInfoSectionSocial a:hover {
    color: var(--gold);
}

.contactDataForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.contactDataFormTitle {
    font-family: var(--primaryFont);
    color: var(--gold);
}

.contactDataFormInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactDataFormInputsSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactDataFormInputsSectionTitle {
    font-family: var(--secondaryFont);
    color: var(--white);
}

.contactDataFormInputsSectionTitle span {
    color: var(--gold);
}

.contactDataFormInputsSectionInput {
    font-size: 16px;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
}

.contactDataFormInputsSectionInput:focus {
    outline: none;
    background-color: #828282a2;
}

.contactDataFormInputsSectionTextarea {
    height: 100px;
    font-size: 16px;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    resize: none;
}

.contactDataFormInputsSectionTextarea:focus {
    outline: none;
    background-color: #828282a2;
}

.contactDataFormSubmit {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--secondaryFont);
    color: var(--white);
    border: 2px solid var(--gold);
}
.contactDataFormSubmit:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gold);
}

@media (max-width: 700px) {
    .contact {
        height: auto;
        padding: 80px 30px 30px;
    }
    .contactData {
        flex-direction: column-reverse;
    }
}
