.galleryCard {
    height: 400px;
}

.galleryCardImage {
    height: 80%;
    width: 100%;
    box-shadow: 3px 3px 5px #000;
}

.galleryCardImage img {
    height: 100%;
    width: 100%;
}

.galleryCardData {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.galleryCardDataTattooArtist {
    margin-top: 20px;
    font-size: 16px;
    font-family: var(--primaryFont);
    color: var(--gold);
}

.galleryCardDataStyle {
    font-size: 16px;
    font-family: var(--secondaryFont);
    font-weight: 800;
    color: var(--white);
}
