.profile {
    min-height: calc(100vh - 150px);
    background: var(--black);
    padding: 100px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.profileTitle {
    font-size: 30px;
    font-family: var(--primaryFont);
    color: var(--gold);
}

.profileData {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.profileDataActual {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--secondaryFont);
    color: var(--white);
}

.profileDataActualImage {
    height: 200px;
    width: 150px;
}

.profileDataActualImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid var(--gold);
}

.profileDataForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.profileDataRormTitle,
.profileDataAppointmentsTitle {
    font-size: 20px;
    font-weight: 800;
    font-family: var(--secondaryFont);
    color: var(--gold);
}

.profileDataFormSection {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profileDataFormSectionTitle {
    font-size: 16px;
    font-family: var(--primaryFont);
    font-weight: 100;
    color: var(--white);
}

.profileDataFormSectionInput {
    font-size: 16px;
    font-family: var(--secondaryFont);
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-bottom: 2px solid #936000;
}
.profileDataFormSectionInput:focus {
    outline: none;
    border-bottom: 2px solid var(--gold);
    background: linear-gradient(to top, rgb(58, 58, 58), var(--black));
}

.profileDataFormSectionError {
    max-width: 100%;
    font-size: 12px;
    font-family: var(--secondaryFont);
    font-weight: 100;
    color: red;
}

.profileDataFormSubmit {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--secondaryFont);
    color: var(--white);
    border: 2px solid var(--gold);
}
.profileDataFormSubmit:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gold);
}

.profileDataAppointmentsList {
    padding: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

@media (max-width: 1700px) {
    .profileDataAppointmentsList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1500px) {
    .profileDataAppointmentsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1250px) {
    .profileDataAppointmentsList {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .profile {
        padding: 70px 20px 20px;
    }
    .profileData {
        flex-direction: column;
        align-items: center;
    }
    .profileDataAppointmentsList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .profileDataAppointmentsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .profileDataAppointmentsList {
        grid-template-columns: 1fr;
    }
}
