.login {
    height: calc(100vh - 50px);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.loginLogo {
    height: 500px;
}

.loginLogo img {
    height: 100%;
}

.loginForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.loginFormTitle {
    font-size: 30px;
    font-family: var(--primaryFont);
    text-align: center;
    color: var(--gold);
}

.loginFormData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.loginFormDataSection {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loginFormDataSectionTitle {
    font-size: 16px;
    font-family: var(--primaryFont);
    font-weight: 100;
    color: var(--white);
}

.loginFormDataSectionInput {
    font-size: 16px;
    font-family: var(--secondaryFont);
    color: var(--white);
    background-color: var(--black);
    border: none;
    border-bottom: 2px solid #936000;
}
.loginFormDataSectionInput:focus {
    outline: none;
    border-bottom: 2px solid var(--gold);
    background: linear-gradient(to top, rgb(58, 58, 58), var(--black));
}

.registerFormDataSectionError {
    max-width: 100%;
    font-size: 12px;
    font-family: var(--secondaryFont);
    font-weight: 100;
    color: red;
}

.loginFormButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginFormButtonsSubmit {
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--secondaryFont);
    color: var(--white);
    border: 2px solid var(--gold);
}
.loginFormButtonsSubmit:hover {
    cursor: pointer;
    color: var(--black);
    background-color: var(--gold);
}

.loginFormButtonsRedirect {
    text-align: center;
    font-family: var(--secondaryFont);
    color: var(--white);
}

.loginFormButtonsRedirect a {
    font-family: var(--primaryFont);
    text-decoration: none;
    color: var(--gold);
}

.loginFormButtonsRedirect a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .loginLogo {
        display: none;
    }
}
