.card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--gold);
    box-shadow: 3px 3px 5px;
}

.cardData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-family: var(--secondaryFont);
    color: var(--white);
}

.cardDataCancel {
    padding: 10px;
    font-size: 16px;
    font-family: var(--secondaryFont);
    font-weight: 800;
    color: var(--white);
    background-color: rgb(121, 5, 5);
    outline: 1px solid black;
}
.cardDataCancel:hover {
    cursor: pointer;
    background-color: red;
    outline: 1px solid var(--white);
}
